<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prd.approval.dao.MessageDAO">

    <sql id="messageColumn">
        IDNO, FROMUSER, TOUSER, SERA, SUBJECT, CONTENT, SENDTIME, HAVEREAD,
        HAVEALERT, HAVEDONE, MESSAGE_TYPE
    </sql>

    <resultMap id="messageMap" type="com.prd.approval.entity.Message">
        <id column="IDNO" property="id"/>
        <result column="FROMUSER" property="fromUser"/>
        <result column="TOUSER" property="toUser"/>
        <result column="SERA" property="sera"/>
        <result column="SUBJECT" property="subject"/>
        <result column="CONTENT" property="content"/>
        <result column="SENDTIME" property="sendTime"/>
        <result column="HAVEREAD" property="haveRead"/>
        <result column="HAVEALERT" property="haveAlert"/>
        <result column="HAVEDONE" property="haveDone"/>
        <result column="MESSAGE_TYPE" property="messageType"/>
        <association property="fromUserName" select="otherMapper.selectPersonNameById"
                     column="FROMUSER" javaType="String"/>
        <association property="toUserName" select="otherMapper.selectPersonNameById"
                     column="TOUSER" javaType="String"/>
    </resultMap>


    <select id="selectAllMessageToUser" resultMap="messageMap">
        SELECT
        <include refid="messageColumn"/>
        FROM MESSAGE
        WHERE TOUSER = #{toUser}
        AND HAVEREAD = '0'
        <if test="messageType != null">
            AND MESSAGE_TYPE = #{messageType}
        </if>

    </select>

    <!--SERA : toUser 收到的消息的序列号 每次在最大值的基础上加一
    NVL(expr1,expr2) :  expr1 == null ? expr2 : expr1
    -->
    <insert id="insertMessage">
        INSERT INTO MESSAGE (IDNO,
                             FROMUSER,
                             TOUSER,
                             SERA,
                             SUBJECT,
                             CONTENT,
                             SENDTIME,
                             HAVEREAD,
                             HAVEALERT,
                             HAVEDONE,
                             MESSAGE_TYPE)

        SELECT #{id}                 IDNO,
               #{fromUser}           FROMUSER,
               #{toUser}             TOUSER,
               NVL(MAX(SERA) + 1, 1) SERA,
               #{subject}            SUBJECT,
               #{content}            CONTENT,
               #{sendTime}           SENDTIME,
               #{haveRead}           HAVEREAD,
               #{haveAlert}          HAVEALERT,
               #{haveDone}           HAVEDONE,
               #{messageType}        MESSAGE_TYPE
        FROM MESSAGE
        WHERE TOUSER = #{toUser}
    </insert>

    <select id="selectMessageByEventId" parameterType="String" resultMap="messageMap">
        SELECT MESSAGE.IDNO,
               FROMUSER,
               TOUSER,
               SERA,
               SUBJECT,
               CONTENT,
               SENDTIME,
               HAVEREAD,
               HAVEALERT,
               HAVEDONE,
               MESSAGE_TYPE
        FROM AP_MESSAGE,
             MESSAGE
        WHERE AP_MESSAGE.EVENT_ID = #{eventId}
          AND AP_MESSAGE.MESSAGE_ID = MESSAGE.IDNO
    </select>

    <select id="selectApMessageByApMessage"
            parameterType="com.prd.approval.entity.ApMessage"
            resultType="com.prd.approval.entity.ApMessage">
        SELECT MESSAGE.IDNO "id",MESSAGE_ID "messageId",
        EVENT_ID "eventId",STEP_ID "stepId",STAFF_NO "staffNo",
        STAFF_ID "staffId"
        FROM AP_MESSAGE,MESSAGE
        WHERE
        <choose>
            <when test="messageId != null">
                MESSAGE_ID = #{messageId}
            </when>
            <when test="eventId != null">
                EVENT_ID = #{eventId}
            </when>
            <when test="stepId != null">
                STEP_ID = #{stepId}
            </when>
        </choose>
        AND AP_MESSAGE.MESSAGE_ID = MESSAGE.IDNO
    </select>

    <select id="selectMessageById" parameterType="String" resultMap="messageMap">
        SELECT
        <include refid="messageColumn"/>
        FROM MESSAGE
        WHERE IDNO =#{messageId}
    </select>

    <update id="updateMessage" parameterType="com.prd.approval.entity.Message">
        UPDATE MESSAGE
        <set>
            <if test="haveRead != null">
                HAVEREAD = #{haveRead}
            </if>
            <if test="haveAlert != null">
                HAVEALERT = #{haveAlert}
            </if>
            <if test="haveDone != null">
                HAVEDONE = #{haveDone}
            </if>
        </set>
        WHERE IDNO = #{id}
    </update>


</mapper>