<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prd.approval.dao.StepStaffDAO">

    <sql id="stepStaffColumn">
        IDNO, HID, STATUS, SORT_NO, STAFF_NO, STAFF_NAME, STAFF_DEPA, STAFF_DEPA_NAME,
        AP_RESULT, AP_COMMENT, AP_DATE
    </sql>

    <resultMap id="stepStaffMap" type="com.prd.approval.entity.StepStaff">
        <id column="idno" property="id"/>
        <result column="hid" property="hId"/>
        <result column="status" property="status"/>
        <result column="sort_no" property="sortNo"/>
        <result column="staff_no" property="staffNo"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_depa" property="staffDepa"/>
        <result column="staff_depa_name" property="staffDepaName"/>
        <result column="ap_result" property="apResult"/>
        <result column="ap_comment" property="apComment"/>
        <result column="ap_date" property="apDate"/>
    </resultMap>

    <insert id="insertStaffStaff" parameterType="com.prd.approval.entity.StepStaff">
        INSERT INTO AP_STEP_STAFF (IDNO,
                                   HID,
                                   STATUS,
                                   SORT_NO,
                                   STAFF_NO,
                                   STAFF_NAME,
                                   STAFF_DEPA,
                                   STAFF_DEPA_NAME,
                                   AP_RESULT,
                                   AP_COMMENT,
                                   AP_DATE)
        VALUES (#{id},
                #{hId},
                #{status},
                #{sortNo},
                #{staffNo},
                #{staffName},
                #{staffDepa},
                #{staffDepaName},
                #{apResult},
                #{apComment},
                #{apDate})
    </insert>

    <delete id="deleteStepStaffByProcessId" parameterType="String">
        DELETE
        FROM AP_STEP_STAFF
        WHERE HID = #{processId}
    </delete>

    <select id="selectStepStaffsByProcessId" resultMap="stepStaffMap">
        SELECT
        <include refid="stepStaffColumn"/>
        FROM AP_STEP_STAFF
        WHERE HID =#{processId}
    </select>

    <select id="whetherHaveNewEventToDo" parameterType="String" resultMap="stepStaffMap">
        SELECT
        <include refid="stepStaffColumn"/>
        FROM (
        SELECT *
        from AP_STEP_STAFF
        WHERE HID IN(select IDNO
        from ap_step
        where ap_step.IDNO IN(select current_step_id from AP_EVENT where IS_MODEL = 0
        AND STATUS = 1)))
        where STAFF_NO = #{userId}
    </select>

    <update id="updateStepStaffByStepIdAndStaffId" parameterType="com.prd.approval.entity.StepStaff">
        UPDATE AP_STEP_STAFF
        <set>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="apResult != null">
                AP_RESULT = #{apResult},
            </if>
            <if test="apComment != null">
                AP_COMMENT = #{apComment},
            </if>
            <if test="apDate != null">
                AP_DATE = #{apDate}
            </if>
        </set>
        WHERE HID = #{hId} AND STAFF_NO = #{staffNo}
    </update>

    <select id="selectByStepIdAndStaffId" resultMap="stepStaffMap">
        SELECT
        <include refid="stepStaffColumn"/>
        FROM AP_STEP_STAFF
        WHERE HID = #{stepId} AND STAFF_NO = #{staffId}
    </select>

    <select id="selectStepUnApprovalPersonNumber" parameterType="String" resultType="int">
        SELECT COUNT(HID)
        FROM AP_STEP_STAFF
        WHERE HID = #{stepId}
    </select>

    <select id="selectByStepStaffId" parameterType="String" resultMap="stepStaffMap">
        SELECT
        <include refid="stepStaffColumn"/>
        FROM AP_STEP_STAFF
        WHERE IDNO =#{id}
    </select>

    <select id="selectByStepStaff" parameterType="com.prd.approval.entity.StepStaff" resultMap="stepStaffMap">
        SELECT
        <include refid="stepStaffColumn"/>
        FROM AP_STEP_STAFF
        WHERE 1=1
        <if test="id != null">
            AND IDNO = #{id}
        </if>
        <if test="hId != null">
            AND HID = #{hId}
        </if>
        <if test="status != null">
            AND STATUS = #{status}
        </if>
        <if test="sortNo != null">
            AND SORT_NO = #{sortNo}
        </if>
        <if test="staffNo != null">
            AND STAFF_NO = #{staffNo}
        </if>
        <if test="staffName != null">
            AND STAFF_NAME = #{staffName}
        </if>
        <if test="staffDepa != null">
            AND STAFF_DEPA = #{staffDepa}
        </if>
        <if test="staffDepaName != null">
            AND STAFF_DEPA_NAME = #{staffDepaName}
        </if>
        <if test="apResult != null">
            AND AP_RESULT = #{apResult}
        </if>

    </select>

    <select id="selectByStaffIdAndStatus" resultMap="stepStaffMap">
        SELECT <include refid="stepStaffColumn"/>
        FROM AP_STEP_STAFF
        WHERE STAFF_NO = #{userId}
        <choose>
            <when test=" status == 'all'">

            </when>
            <when test=" status == 'todo' ">
                AND STATUS = '1'
            </when>
            <when test=" status == 'done' ">
                AND STATUS = '2'
            </when>
        </choose>


    </select>
</mapper>