<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prd.approval.dao.TemplateDAO">

    <sql id="templateColumn">
        idno,
        is_model,
        model_id,
        event_name,
        event_description,
        is_active,
        is_update,
        status,
        sort_no,
        current_step_id,
        current_step_sort_no,
        bill_no,
        bill_code,
        bill_name,
        creator_no,
        creator_name,
        create_by,
        create_date
    </sql>

    <resultMap id="templateMap" type="com.prd.approval.entity.Event">
        <id property="id" column="idno"/>
        <result property="isModel" column="is_model"/>
        <result property="modelId" column="model_id"/>
        <result property="eventName" column="event_name"/>
        <result property="eventDescription" column="event_description"/>
        <result property="isActive" column="is_active"/>
        <result property="isUpdate" column="is_update"/>
        <result property="status" column="status"/>
        <result property="sortNo" column="sort_no"/>
        <result property="currentStepId" column="current_step_id"/>
        <result property="currentStepSortNo" column="current_step_sort_no"/>
        <result property="billNo" column="bill_no"/>
        <result property="billCode" column="bill_code"/>
        <result property="billName" column="bill_name"/>
        <result property="creatorNo" column="creator_no"/>
        <result property="creatorName" column="creator_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <resultMap id="simpleMap" type="java.util.HashMap">
        <!--
        map.key = property
        map.value = column
        -->
        <id property="id" column="IDNO"/>
        <result property="eventName" column="EVENT_NAME"/>
        <result property="eventDescription" column="EVENT_DESCRIPTION"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="applyNo" column="APPLY_NO"/>
        <result property="applyName" column="APPLY_NAME"/>
        <result property="billName" column="BILL_NAME"/>
        <result property="billNo" column="BILL_NO"/>
        <collection property="originatorList"
                    column="IDNO"
                    select="com.prd.approval.dao.EventCreatorDAO.selectEventCreatorByTemplateId"/>
    </resultMap>

    <!--封装 事件、发起人、当前执行的阶段-->
    <resultMap id="eventCreatorCurrentProcessMap" type="java.util.Map">
        <association property="event"
                     column="eventId"
                     javaType="com.prd.approval.entity.Event"
                     select="com.prd.approval.dao.TemplateDAO.selectTemplateById"/>
        <association property="creator" column="eventId"
                     select="com.prd.approval.dao.EventCreatorDAO.selectEventCreatorByTemplateId"/>
        <association property="currentProcess"
                     column="currentStepId"
                     javaType="com.prd.approval.entity.Process"
                     select="com.prd.approval.dao.ProcessDAO.selectProcessById"/>
    </resultMap>


    <insert id="insertTemplate">
        INSERT INTO AP_EVENT (IDNO,
                              IS_MODEL,
                              MODEL_ID,
                              EVENT_NAME,
                              EVENT_DESCRIPTION,
                              IS_ACTIVE,
                              IS_UPDATE,
                              STATUS,
                              SORT_NO,
                              CURRENT_STEP_ID,
                              CURRENT_STEP_SORT_NO,
                              BILL_NO,
                              BILL_CODE,
                              BILL_NAME,
                              CREATOR_NO,
                              CREATOR_NAME,
                              CREATE_BY,
                              CREATE_DATE)
        VALUES (#{id},
                #{isModel},
                #{modelId},
                #{eventName},
                #{eventDescription},
                #{isActive},
                #{isUpdate},
                #{status},
                #{sortNo},
                #{currentStepId},
                #{currentStepSortNo},
                #{billNo},
                #{billCode},
                #{billName},
                #{creatorNo},
                #{creatorName},
                #{createBy},
                #{createDate})
    </insert>

    <select id="selectAllTemplates" resultMap="templateMap">
        SELECT
        <include refid="templateColumn"/>
        FROM AP_EVENT
        WHERE IS_MODEL = '1'
    </select>

    <select id="selectActiveTemplates" resultMap="templateMap">
        SELECT
        <include refid="templateColumn"/>
        FROM AP_EVENT
        WHERE IS_ACTIVE = '1' AND IS_MODEL = '1'
    </select>

    <select id="selectTemplateById" resultMap="templateMap">
        SELECT
        <include refid="templateColumn"/>
        FROM AP_EVENT
        WHERE IDNO = #{id}
    </select>

    <delete id="deleteTemplateById">
        DELETE
        FROM AP_EVENT
        WHERE IDNO = #{id}
    </delete>

    <update id="updateTemplate">
        UPDATE AP_EVENT
        <set>
            <if test="isModel != null">
                is_model=#{isModel},
            </if>
            <if test="modelId != null">
                model_id=#{modelId},
            </if>
            <if test="eventName != null">
                event_name=#{eventName},
            </if>
            <if test="eventDescription != null">
                event_description=#{eventDescription},
            </if>
            <if test="isActive != null">
                is_active=#{isActive},
            </if>
            <if test="isUpdate != null">
                is_update=#{isUpdate},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="sortNo != null">
                sort_no=#{sortNo},
            </if>
            <if test="currentStepId != null">
                current_step_id=#{currentStepId},
            </if>
            <if test="currentStepSortNo != null">
                current_step_sort_no=#{currentStepSortNo},
            </if>
            <if test="billNo != null">
                bill_no=#{billNo},
            </if>
            <if test="billCode != null">
                bill_code=#{billCode},
            </if>
            <if test="billName != null">
                bill_name=#{billName},
            </if>
            <if test="creatorNo != null">
                creator_no=#{creatorNo},
            </if>
            <if test="creatorName != null">
                creator_name=#{creatorName},
            </if>
        </set>
        WHERE IDNO = #{id}
    </update>

    <select id="selectTemplateByNameAndID" resultType="String">
        SELECT EVENT_NAME
        FROM AP_EVENT
        WHERE EVENT_NAME = #{templateName}
          AND IS_MODEL = 1
          AND IDNO NOT IN(SELECT #{templateId} FROM dual)
    </select>

    <select id="selectTemplateByName" resultType="String">
        SELECT EVENT_NAME
        FROM AP_EVENT
        WHERE EVENT_NAME = #{templateName}
    </select>

    <select id="selectActiveTemplateByBillCode" parameterType="String" resultMap="templateMap">
        SELECT
        <include refid="templateColumn"/>
        FROM AP_EVENT
        WHERE IDNO IN (SELECT hid FROM ap_event_bill WHERE BILL_CODE = #{billCode})
        AND IS_ACTIVE = 1
    </select>

    <select id="selectTodoEventListByUserId" resultMap="templateMap" parameterType="String">
        select
        <include refid="templateColumn"/>
        from ap_event
        where is_model = 0
            and is_active = 1
            and status = 1
            and (idno,CURRENT_STEP_ID) in(
                select event_id,idno
                from ap_step
                where (status = 1 or status =2)
                  and event_id is not null
                  and idno in(
                    select hid
                    from ap_step_staff
                    where staff_no = #{userId}
                      and status = '1'
                  )
            )
    </select>

    <select id="selectEventByStatusAndUser" resultMap="templateMap">
        SELECT
        <include refid="templateColumn"/>
        FROM AP_EVENT
        WHERE IS_MODEL = 0
        AND IDNO IN (
        SELECT HID
        FROM AP_EVENT_CREATOR
        WHERE AP_EVENT_CREATOR.CREATOR_NO = #{userId}
        )
        <choose>
            <when test="status == 'done' ">
                AND (STATUS = 3 OR STATUS = 4)
            </when>
            <when test="status == 'all' ">
            </when>
            <when test="status == 'todo' ">
                AND STATUS = 1
            </when>
        </choose>
    </select>


    <select id="selectEventAndCreatorByEventId" resultMap="simpleMap">
        SELECT IDNO, EVENT_NAME, EVENT_DESCRIPTION, CREATE_DATE, BILL_NAME, BILL_NO
        FROM AP_EVENT
        WHERE IS_MODEL = 0
          AND AP_EVENT.IDNO = #{eventId}
    </select>


    <!--
查看审批记录（可以看到所有记录）
1、需求：根据单据编号、发起人、事件状态等任意某个或多个数据查询审批记录
获取数据：发起人、事件名[]
-->
    <resultMap id="tempMap" type="java.util.Map">
        <result property="eventName" column="EVENT_NAME"/>
        <result property="eventId" column="IDNO"/>
        <collection property="creatorList" column="MODEL_ID"
                    ofType="com.prd.approval.entity.EventCreator"
                    select="com.prd.approval.dao.EventCreatorDAO.selectEventCreatorByTemplateId"/>
    </resultMap>

    <select id="selectEventAndOriginatorByCase" resultMap="tempMap">
        SELECT e.EVENT_NAME,e.MODEL_ID
        FROM AP_EVENT e
        WHERE IS_MODEL = 0
        <if test="billNo != null">
            AND BILL_NO = #{billNo}
        </if>
        <if test="status != null">
            AND STATUS = #{status}
        </if>
    </select>

    <!--useless-->
    <select id="selectEventAndCreatorAndCurrentProcess" resultMap="eventCreatorCurrentProcessMap">
        SELECT IDNO as "eventId", CURRENT_STEP_ID as "currentStepId"
        FROM AP_EVENT
        WHERE IDNO = #{eventId}
    </select>


</mapper>